@import 'https://unpkg.com/open-props/easings.min.css';

:root {
  font-family: 'Gilda Display', sans-serif;
  --theme-color: whitesmoke;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--theme-color);
  color: black;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: none;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header {
  background-color: var(--theme-color);
  text-align: center;
  font-family: 'inter', sans-serif;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  h1 {
    position: relative;
    top: 0.6rem;
    left: 0.6rem;
    font-size: 1.6rem;
    margin: 0;
    font-weight: 700;
    padding: 1rem;
    background-clip: text;
    color: transparent;
    text-shadow: none;
    background-color: black;

    mark {
      position: absolute;
      top: 35%;
      right: 0;
      font-weight: 300;
      transform: translate(100%, -50%);
      padding: 4px 8px;
      border-radius: 4px;
      font-family: 'Gilda Display', sans-serif;
      background-color: transparent;
    }
  }

  menu {
    display: flex;

    button {
      padding: 2rem;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.5px;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: black;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
  z-index: 200;
  font-size: 10px;
  font-family: 'inter', sans-serif;
  font-weight: 300;
  user-select: none;
  padding: 4rem 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-top: solid 0.5px black;
  background-color: whitesmoke;

  &:hover {
    transform: translateY(0);
  }

  &::after {
    --tip-height: 48%;
    content: '';
    display: block;
    width: 100%;
    height: var(--tip-height);
    position: absolute;
    transform-origin: center;
    top: calc(-1 * var(--tip-height));
    left: 0;
    z-index: -1;
  }

  button {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, -120%);
    width: 2rem;
    aspect-ratio: 2/1.732;
    transform-origin: center;
    animation: spin 2s linear infinite;

    @keyframes spin {
      from {
        transform: translate(-50%, -100%) rotate(0deg);
      }
      to {
        transform: translate(-50%, -100%) rotate(360deg);
      }
    }

    li {
      position: absolute;
      list-style: none;
      width: 36%;
      aspect-ratio: 1/1;
      border-radius: 50%;

      &:nth-child(1) {
        left: 0;
        top: 0;
        background-color: black;
        transform: translate(-50%, -50%);
      }
      &:nth-child(2) {
        right: 0;
        top: 0;
        background-color: black;
        transform: translate(50%, -50%);
      }
      &:nth-child(3) {
        left: 50%;
        bottom: 0;
        background-color: black;
        transform: translate(-50%, 50%);
      }
    }
  }

  .author {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;

    p {
      margin: 4px 0;
      font-size: 0.8rem;
    }
  }

  nav {
    display: flex;

    a {
      cursor: pointer;
      margin-inline: 1rem;
      text-decoration: underline;
    }
  }
}

aside {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1000;
  user-select: none;

  &.panel-right {
    left: auto;
    right: 0;
    transform: translateY(-50%) rotateY(180deg);
    transform-origin: center;

    li {
      display: flex;

      span {
        margin-left: auto;
        width: fit-content;
        transform-origin: center;
        transform: rotateY(180deg);
      }
    }
  }

  ul {
    --arc: 5deg;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: right;

    @media (hover) and (prefers-reduced-motion: no-preference) {
      &:has(li:nth-child(1):hover) {
        --target: 1;
      }
      &:has(li:nth-child(2):hover) {
        --target: 2;
      }
      &:has(li:nth-child(3):hover) {
        --target: 3;
      }
      &:has(li:nth-child(4):hover) {
        --target: 4;
      }
      &:has(li:nth-child(5):hover) {
        --target: 5;
      }
      &:has(li:nth-child(6):hover) {
        --target: 6;
      }
      &:has(li:nth-child(7):hover) {
        --target: 7;
      }
      &:has(li:nth-child(8):hover) {
        --target: 8;
      }
      &:has(li:nth-child(9):hover) {
        --target: 9;
      }
      &:has(li:nth-child(10):hover) {
        --target: 10;
      }
      &:has(li:nth-child(11):hover) {
        --target: 11;
      }
      &:has(li:nth-child(12):hover) {
        --target: 12;
      }
      &:has(li:nth-child(13):hover) {
        --target: 13;
      }

      & > li {
        cursor: pointer;
        transform-origin: -300% 50%;
        transition: transform 1.5s var(--ease-spring-2),
          opacity 0.3s var(--ease-3);
      }

      &:hover > li:not(:hover) {
        --distance-from-target: abs(var(--sibling-index) - var(--target));
        --distance-multiplier: var(--distance-from-target) * 25%; /* change 15% */
        --gradual-fadeout: calc(100% - var(--distance-multiplier));
        // opacity: var(--gradual-fadeout);
        opacity: 0.1;

        --angle: calc((var(--sibling-index) - var(--target)) * var(--arc));
        transform: rotateZ(var(--angle));
      }
    }
  }

  li {
    position: relative;
    width: 8rem;
    padding: 8px 12px;
  }

  li::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-top: solid 0.5px gray;
    position: absolute;
    transform-origin: center;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-30%, 50%);
  }
}

main {
  height: calc(100vmin - 85px);
  display: grid;
  place-items: center;

  section {
    width: 80vmin;
    height: 80vmin;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    gap: 2px;

    div {
      aspect-ratio: 1/1;
      background-color: var(--color);
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      cursor: grab;

      &:hover {
        filter: brightness(1.05);
        transform: scale(0.95);
      }
    }
  }
}
